* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    height: 300px;
    margin: 0 10px;
    background: url(../images/header.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.logo {
    flex: 1 1 auto;
    size: 20px;
    margin: 10px;
    position: relative;
    animation: girar 2s;
}

.logo a {
    size: 20px;
}

.logo a :hover {
    color: #343434;
}

.nav {
    flex: 5 1 auto;
    padding: 20px;
}

.nav a {
    color: rgb(82, 80, 80);
    font-style: italic;
    font-size: 12px;
    margin: 50px;
    padding: 0px 10px;
    letter-spacing: 2px;
}

.nav a:hover {
    color: black;
}

.social {
    flex: 1 1 auto;
    display: flex;
}

.social a {
    font-size: 16px;
    color: grey;
    padding: 0 5px;
}

.social a:hover {
    color: #000;
}

.texto-principal {
    height: 100%;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
}

h1 {
    background-color: #8e8e8e;
    width: 80%;
    height: 50%;
    font-family: "lora";
    font-size: 21px;
    color: #f39494;
    opacity: 0.7;
    letter-spacing: 2px;
    padding: 25px;
}

.main {
    background: white;
    display: flex;
    margin: 10px;
    gap: 10px 10px;
}

.section {
    background: #cdcbcb;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    gap: 10px;
}

.article {
    flex: 1 1 40%;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    background: #ececec;
}

h3 {
    color: #FFE569;
    font-size: 14px;
    padding: 10px 5px 10px;
    margin: 10px;
    margin-top: -60px;
}

h2 {
    background: #f6a2a2;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.article p {
    font-size: 13px;
    margin: 10px;
    column-count: 2;
}

.article img {
    padding: 10px;
    width: 100%;
}

.article a {
    color: rgb(186, 183, 183);
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.article a:hover {
    color: #000;
}

.art5 {
    flex: 1 1 100%;
    text-align: center;
}

.aside {
    background: #cdcbcb;
    flex: 1 1 auto;
    text-align: center;
}

.aside h3 {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 30px;
}

.aside p {
    text-align: center;
    margin: 10px;
}

.footer {
    background: #cdcbcb;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.footer p {
    background: #EEEEEE;
    text-align: center;
    margin: 0 10px 0 10px;
    color: #000;
    width: 100%;
    height: 100%;
}




@media all and (max-width: 1200px) {
    .section {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        height: auto;
    }

    .aside {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 20px;
    }

    .texto-principal {
        height: 450px;
    }

    @media all and (max-width: 620px) {
        .header {
            flex-direction: column;
        }
        .aside {
            flex-direction: column;
        }
        .art5 {
            flex-direction: column;
        }
    }
}

@keyframes girar {
    0% {
        transform: rotate(0);
        opacity: 1;
      }
    50% {
        transform: rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
      }

}